services:
  db:
    image: postgres:17
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: docker
      POSTGRES_USER: pgadmin
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"